<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block css %}{% endblock %}
</head>
<body>

<h1>Hello world</h1>

{% block body %}{% endblock %}

{% block js %}{% endblock %}

</body>
</html>
